*{
    box-sizing: border-box;
}

html,
body{
    padding: 0;
    margin: 0;
    line-height: 1.2;
    font-size: 15px;
    font-family: poppins-regular;
}

@font-face {
    font-family: poppins-regular;
    src: url(../font/Poppins/Poppins-Regular.ttf);
}


.header{
    height: 750px;
    position: relative;
}

.logo{
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    height: 10px;
    margin:10px;
    padding: 20px 0px;
    color: rgb(240, 220, 220);
}

.video{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    background: rgba(128, 128, 128, 0.322);
    width: auto;
    padding: 4px 0;
    margin-left: 550px;
  
}

nav ul li{
    padding: 0px 40px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
}


nav ul li a:not(.home):hover{
    border-bottom: 2px solid white;
}

.home{
    border-bottom: 2px solid white;
    border-width: 4px;
}

.header-text-xl{
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    color: whitesmoke;
    padding-left: 10px;
}

.sub-section-flex-container{
    display: flex;
    justify-content: space-around;
    background-color: red;
    color: white;
    margin-bottom: 20px;
}

.section-text-xl{
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 35px;
    font-weight: 900;
}

.section-first-paragraph{
    font-weight: bold;
    font-size: 14px;
}

.learn-more{
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid white;
    background: none;
    color: white;
    margin: 35px 0;
    padding: 6px 35px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

.learn-more:hover{
    border: 1px solid gray;
    transition: all .2s ease-in;
}

.sub-section{
    width: 60%;
}

.sub-section-text-xl{
    text-transform: uppercase;
    margin: 20px 20px;
    font-size: 35px;
    font-weight: 900;
}

.sub-section-paragraph{
    margin: 20px 20px;
    font-weight: bold;
    font-size: 14px;
}

.sub-section a{
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid rgb(15, 15, 15);
    background: none;
    color: rgb(212, 69, 69);
    margin: 35px 35px 40px;
    padding: 6px 30px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

.sub-section-image{
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
}

.video-2{
    width: 100%;
    z-index: -1;
    position: absolute;
}

.sub-section-video{
    position: relative;
    height: 750px;
}

.button-element{
    position: relative;
    
}

.btn-view-work{
    position: absolute;
    top: -300;
    left: 500;
    background: none;
    padding: 10px 30px;
    text-transform: uppercase;
    border: 1px solid gray;
    outline: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

main{
    margin: 50px 0px;
}

.main-container{
    display: flex;
    justify-content: space-around;
}

.image{
    display: flex;
    flex-direction: column;
    width: 70%;
}

h1{
    font-size: 40px;
    text-transform: uppercase;
    margin: 10px 100px;
}

span{
    font-weight: bold;
    text-transform: capitalize;
    margin: 30px 0;
    font-size: 20px;
    font-style: italic;
    color: rgb(156, 148, 148);
}

.main-container-text{
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 900;
    margin: 20px 0;
}

.news-link{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid rgb(15, 15, 15);
    background: none;
    color: rgb(228, 48, 48);
    margin-left:550px;
    margin-top: 50px;
    padding: 6px 20px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

.agency-services{
    display: flex;
    justify-content: space-evenly;
    background: rgba(27, 13, 13, 0.671);
}

.agency-services a{
    display: inline-block;
    margin-top: 70px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid rgb(15, 15, 15);
    padding: 2px 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;

    background: none;
    color: rgb(228, 48, 48);
    cursor: pointer;
    outline: none;
}

footer{
    background: rgb(255, 0, 0);
    color: white;
    padding: 20px;
    margin-bottom: 10px;
}

.footer-text-xl{
    display: flex;
    justify-content: space-around;
}

.address-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

address{
    text-transform: capitalize;
    margin: 6px 0;
}

.footer-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.link{
    text-decoration: none;
    border: 1px solid black;
    padding: 4px 10px;
    text-align: center;
    background: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.link:hover{
    background: white;
    color: rgb(99, 90, 90);
    transition: all .5s ease-in;
}

.contact-icon a i{
    color: white;
    padding: 0px 7px;
}

@media screen and (max-width: 55em) {
    .header{
        height: 180px;
    }

    .sub-section{
        width: 100%;
    }

    .main-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 5px;
    }

    .image{
        width: 100%;
    }

    .main-container-highlight-content{
        border-bottom: 1px solid gray;
        margin: 10x;
    }


    .main-content-section-container{
        margin-top: 50px;
    }

    .news-link-content{
        padding: 20px;
    }


    .news-link{
        display: block;
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .agency-services-content-container{
        display: none;
    }

    .agency-services a{
        margin: 10px 0px;
    }

    .footer-text-xl{
        display: flex;
        flex-direction: column;
    }

    .footer-icon-link{
    display: grid;
    grid-auto-flow: column;    
    gap: 10px;
    
    }


    .footer-icon{
        display: grid;
        grid-auto-flow: row;
        gap: 10px;
    }
    
    .sub-section-video{
        position: relative;
        height: 180px;
       
    }

    .btn-view-work{
        position: absolute;
        top: -75;
        padding: 2px 20px;
        width: 80%;
        margin: 0px 15px;
        font-size: 20px;
        left: 0;
    }

    .video{
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
    }

    .header-text-xl{
        position: absolute;
        top: 55%;
        left: 10%;
        font-size: 15px;
    }

    .sub-section-flex-container{
        flex-direction: column;
        padding: 5px;
    }

    nav ul{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: auto;
      
    }
    
    nav ul li{
        padding: 0px 10px;
    }
    
    nav ul li a{
        font-size: 15px;
    }

    


    
}
